<template> 
  <div id="home" class="columns">
    <div class="column is-offset-one-quarter is-3 login"> 
      <div class="white-circle-container">
        <div class="white-circle">
          <i class="fa fa-camera fa-3x"></i>
        </div>
      </div>
      I'm a hackr!
    </div>
    <div class="column is-3 login">
      <div class="white-circle-container"> 
        <div class="white-circle">
          <i class="fa fa-coffee fa-3x"></i>
        </div>
      </div>
      I'd like to be a guest.
    </div>
    <div class="column"></div>
  </div>
</template>