<template> 
  <div id="home">
    <div class="white-circle-wrapper"> 
      <div class="white-circle-container">
        <a href="/selfie-login">
          <div class="white-circle">
            <i class="fa fa-camera fa-3x"></i>
          </div>
        </a>
      </div>
      I'm a hackr
    </div>
    <div class="white-circle-wrapper"> 
      <div class="white-circle-container"> 
        <a href="/teams">
          <div class="white-circle">
            <i class="fa fa-coffee fa-3x"></i>
          </div>
        </a>
      </div>
      I'm a guest
    </div>
  </div>
</template>