<template>
    <require from="../hackr-nav/hackr-nav"></require>
    <hackr-nav></hackr-nav>
    <section class="section">
        <div class="container">
            <h1 class="title hackr-title is-1">Hackrs</h1>
            <div repeat.for="person of people" class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="${person.img}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p class="title is-4">${person.name}</p>
                            <p class="subtitle is-6">${person.team}</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</template>