@font-face {
    font-family: 'Brandon';
    src: url('../fonts/BrandonText-Light.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon';
    src: url('../fonts/BrandonText-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans-Web-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans-Web-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Typewriter';
    src: url('../fonts/American Typewriter Light.ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'PT Sans';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Typewriter';
    font-weight: 600 !important;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

.nav.hackr-nav {
    background-color: rgb(58, 58, 61);
    color: white;
    height: 72px;
}

.hackr-nav .nav-left {
    overflow: hidden;
}

.hackr-nav .nav-item a, .hackr-nav a.nav-item {
    color: #ddd;
}

.hackr-nav .nav-item a:hover, .hackr-nav a.nav-item:hover {
    color: white;
}

 .hackr-nav .nav-item a.logout, .hackr-nav a.nav-item.logout {
    color: rgb(245, 75, 117);
}

.hackr-nav .nav-item a.logout:hover, .hackr-nav a.nav-item.logout:hover {
    color: white;
}

.top-logo {
    height: 72px;
}

.hackr-title {
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.hackr-team-name {
    border-bottom: 5px solid rgb(245, 75, 117);
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    font-family: 'Typewriter';
    font-weight: 600 !important;
}

.hackr-team-location {
    color: #606060;
    margin-bottom: 10px;
}

.hackr-team-project-description {
    font-size: 18px;
}

.hackr-team-card {
    margin: 50px 0;
}

#home {
    background-color: rgb(58, 58, 61);
    width: 100vw;
    height: 100vh;
    color: white;
}

#home .login {
    margin-top: 30vh;
    text-align: center;
}

.white-circle-container {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.white-circle {
	border-radius: 50%;
	width: 200px;
    height: 200px;
    background-color: white;
}

.white-circle:hover {
    cursor: pointer;
}

.white-circle i {
    margin-top: 38%;
    color: black;
}

.image img {
    border-radius: 50px
}

.button.is-primary {
    background-color: rgb(245, 75, 117) !important;
    text-transform: uppercase;
    font-size: 28px;
}

.hidden {
    display: none;
}

.hackr-idea-wrapper {
    text-align: center;
}

.hackr-idea {
    font-family: 'Typewriter';
    font-size: 72px;
    width: 90%;
    text-align: left;
    display: inline-block;
}

.hackr-idea-bold {
    font-weight: 600;
    display: inline-block;
}