<template>
    <require from="../hackr-nav/hackr-nav"></require>
    <hackr-nav></hackr-nav>
    <section class="section">
        <div class="container">
            <div if.bind="votingForTeamId === 0">
                <h1 class="title hackr-title is-1">Choose a team to vote for</h1>
                <div class="columns is-multiline">
                    <div repeat.for="team of teams" class="column is-4">
                        <a click.trigger="voteForTeam(team.Number)">
                            <div class="pink-circle">
                                <p>${team.Number}</p>
                            </div>
                        </a>
                        <br/>
                        <div class="hackr-team-name">${team.Name}</div>
                    </div>
                </div>
            </div>
            <div if.bind="votingForTeamId > 0">
                <h1 class="title hackr-title is-1">Vote</h1>
                <div class="columns is-multiline">
                    <div class="column is-4">
                        <h2 class="vote-result-title">Concept</h2>
                        <p>
                            What is the real world context of the solution? Which problem is it trying to solve? 
                            How is it making life better? 
                            Why would anyone else care? 
                        </p>
                    </div>
                    <div class="column is-4">
                    </div>
                    <div class="column is-4">
                    </div>
                    <div class="column is-4">
                        <h2 class="vote-result-title">Implementation</h2>
                        <p>
                            What did the team do? How far did they get? 
                            Which technical hurdles did they overcome? 
                        </p>
                    </div>
                    <div class="column is-4">
                    </div>
                    <div class="column is-4">
                    </div>
                    <div class="column is-4">
                        <h2 class="vote-result-title">Technical novelty</h2>
                        <p>
                            Is the team using technology which they are unfamiliar with or is this just a bunch of people 
                            doing their day job? Is the team using new and emerging technology? 
                        </p>
                    </div>
                    <div class="column is-4">
                    </div>
                    <div class="column is-4">
                    </div>
                    <div class="column is-4">
                        <h2 class="vote-result-title">Presentation</h2>
                        <p>
                            How well did the team describe the concept, implementation and technical novelty of the solution? 
                            Did I understand it? 
                            Was it interesting? 
                            Was it memorable? 
                        </p>
                    </div>
                    <div class="column is-4">
                    </div>
                    <div class="column is-4">
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>