<template>
  <nav class="nav hackr-nav">
    <div class="container">
      <div class="nav-left">
        <a>
          <img src="static/img/top-logo.png" class="top-logo">
        </a>
      </div>
      <div class="nav-center nav-menu">
        <a route-href="route: teams" class="nav-item">
          Teams
        </a>
        <a route-href="route: hackrs" class="nav-item">
          Hackrs
        </a>
        <a route-href="route: photos" class="nav-item">
          #civicadigihack17
        </a>
        <a route-href="route: vote" class="nav-item">
          Vote
        </a>
        <a route-href="route: results" class="nav-item">
          Results
        </a>
        <a route-href="route: ideas" class="nav-item">
          Ideas
        </a>
      </div>
      <div class="nav-right">
          <article class="media login-details-card">
            <div if.bind="hasFace" class="media-left">
                <figure class="image is-64x64">
                    <img src="static/img/${personid}.jpg">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p class="title is-4 nav-title">${name}</p>
                    <a class="nav-item subtitle is-6 logout" click.trigger="logOut()">
                      Logout
                    </a>
                </div>
            </div>
        </article>
      </div>
    </div>
  </nav>
</template>