<template>
<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item">
          Logo
        </a>
        </div>
        <div class="nav-right nav-menu">
            <a route-href="route: home" class="nav-item">
          Home
        </a>
            <a route-href="route: people" class="nav-item">
          People
        </a>
            <a route-href="route: ideas" class="nav-item">
          Ideas
        </a>
        </div>
    </div>
</nav>
</template>