<template>
  <nav class="nav hackr-nav">
    <div class="container">
      <div class="nav-left">
        <a>
          <img src="static/img/top-logo.png" class="top-logo">
        </a>
      </div>
      <div class="nav-right nav-menu">
        <a route-href="route: teams" class="nav-item">
          Teams
        </a>
        <a route-href="route: hackrs" class="nav-item">
          Hackrs
        </a>
        <a route-href="route: ideas" class="nav-item">
          Ideas
        </a>
      </div>
    </div>
  </nav>
</template>